.banner_main_section {
  margin-top: 6rem;
  .main_desp_section {
    margin-top: 8rem;
    .mail_box {
      margin-top: 4rem;
      input {
        padding: 2.3rem 1rem 2.3rem 2rem;
        flex: 0 0 75%;
        font-size: 2rem;
        font-weight: 400;
        background-color: $input-bg;
        border-radius: 5px 0px 0px 5px;
        color: #3d6184;
        &::placeholder {
          color: #3d6184;
        }
      }
      .form_btn {
        flex: 0 0 25%;
        button {
          font-size: 2rem;
          font-weight: 600;
          height: 100%;
          width: 100%;
          background-color: $btn-color;
          color: $white;
          border-radius: 0px 5px 5px 0px;
        }
      }
    }
  }
}


.icon_company_logo {
  .main_company {
    width: 60%;
    margin: 2rem auto 2rem auto;
    display: flex;
    justify-content: space-around;
    img {
      width: 80px;
      height: 60px;
      object-fit: contain;
    }
  }
}

.possibilities_are_beyond {
  margin: 10rem 0;
  .main_possibilities_are_beyond {
    background-color: #042C54;
    padding: 6.3rem;
    overflow: hidden;
    position: relative;
    .head_main {
      .head {
        flex:  0 0 30%;
        position: relative;
        h3 {
          color: $white;
          font-size: 2.4rem;
          font-weight: 600;
        }
        &::before {
          position: absolute;
          content: "";
          top: -2rem;
          left: 0;
          width: 4rem;
          height: .3rem;
          background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%), #FFFFFF;
        }
      }
      .desp-2 {
        flex: 0 0 70%;
      }
    }
    .center_section {
      padding:  9rem 0;
      .beyond_main_head {
        flex: 0 0 40%;
        }
        .Explore_The_Library {
          flex: 0 0 60%;
          h6 {
            font-size: 1.6rem;
            font-weight: 500;
            text-align: right;
            color: #FF8A71;
          }
        }
    }
    .botto_section {
      .desp-2 p {
        max-width: 85%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 623px;
      height: 558px;
      right: -40rem;
      bottom: -30rem;

      background: #1B78DE;
      filter: blur(100px);
    }
  }
}




